@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-vazir: "medium";
  --color-background: #ffffff;
  --color-title: #1f1f1f;
  --color-text: #555555;
  --color-header: #0d3b66;
  --color-button1: #28a745;
  --color-hover1: #218838;
  --color-button2: #1e90ff;
  --color-hover2: #187bcd;
  --color-cart: #f8f9fa;
  --color-shadow: #e0e0e0;
  --color-link: #007bff;
  --color-background-dark: #121212;
  --color-title-dark: #ffffff;
  --color-text-dark: #bbbbbb;
  --color-header-dark: #0d3b66;
  --color-button1-dark: #28a745;
  --color-button2-dark: #1e90ff;
  --color-cart-dark: #1e1e1e;
  --color-shadow-dark: #2a2a2a;
  --color-link-dark: #3399ff;
  --breakpoint-2md: 890px;
  --breakpoint-2sm: 473px;
}

@font-face {
  font-family: "light";
  src: url(../font/Vazir-Light.woff);
}
@font-face {
  font-family: "medium";
  src: url(../font/Vazir-Medium.woff);
}
@font-face {
  font-family: "bold";
  src: url(../font/Vazir-Bold.woff);
}
@font-face {
  font-family: "thin";
  src: url(../font/Vazir-Thin.woff);
}

@layer base {
  body {
    font-family: var(--font-vazir);
  }
}

@layer utilities {
  .after-before-filter {
    @apply text-button2 dark:text-header after:absolute before:absolute before:w-full before:h-0.5 before:-bottom-[1.3rem] before:right-0 after:right-0 after:-top-[1.3rem] after:w-full after:h-0.5 after:bg-button2 dark:after:bg-header before:bg-button2 dark:before:bg-header duration-300;
  }
  .off-just-filter {
    @apply bg-gray-400 dark:bg-text-dark after:bg-gray-500 dark:after:bg-text;
  }
  .on-just-filter {
    @apply bg-blue-400 dark:bg-blue-700 after:bg-blue-600 dark:after:bg-blue-950;
  }
  .scrollbar-sessions::-webkit-scrollbar {
    @apply w-3;
  }
  .scrollbar-sessions::-webkit-scrollbar-track {
    @apply bg-gray-600;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-800;
  }
  .scrollbar-sessions::-webkit-scrollbar-thumb {
    @apply bg-gray-500 rounded-md border-3 border-transparent bg-clip-content;
  }
  .scrollbar-hide {
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .bgheader {
    @apply bg-[linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../img/index/bgindex.jpeg")];
  }
  .animate__animated.animate__fadeInUp {
    --animate-duration: 2s;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
}
.swiper-button-prev {
  right: inherit !important;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  @apply text-xl py-2 px-4 rounded-full bg-blue-600 text-background;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #888;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.scrollbar-aside-my-acount::-webkit-scrollbar {
  width: 2px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.scrollbar-aside-my-acount::-webkit-scrollbar-track {
  background: #1e1e1e;
  display: none;
}
.scrollbar-aside-my-acount::-webkit-scrollbar-thumb {
  background: #888;
}
.scrollbar-aside-my-acount::-webkit-scrollbar-thumb:hover {
  background: #555;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
